<template>
<div>
<div>
  <b-navbar  type="dark" variant="dark" fixed="top">
      <b-navbar-nav>
        <input v-on:change="processFile($event)" type="file" ref="file_upload" style="display: none">
        <b-nav-item @click="$refs.file_upload.click()">
          <font-awesome-icon icon="plus"/>
          <span>Upload file</span>
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">  
        <b-nav-item @click="logOut()">
          <font-awesome-icon icon="sign-out-alt" />
          <span>Logout</span>
        </b-nav-item>
      </b-navbar-nav>
  </b-navbar>
</div>
<div v-if="files && !error">
  <b-container v-if="!isMobile()">
  <b-row class="files-header">
    <b-col class="cell" sm="3">Upload time</b-col>
    <b-col class="cell" sm="5">Filename</b-col>
    <b-col class="cell" sm="2">Size</b-col>
    <b-col class="cell" sm="2">Status</b-col>
  </b-row>
  <b-row class="file" v-for="file in files" :key="file.id" @click="getFile(file.id)">
    <b-col class="cell" sm="3">{{ file.upload_time }}</b-col>
    <b-col class="cell" sm="5">{{ file.name }}</b-col>
    <b-col class="cell" sm="2">{{ file.size }} Kbytes</b-col>
    <b-col class="cell" sm="2">{{ file.status }}</b-col>
  </b-row>
  </b-container>
  <div class="m-files" v-else>
    <b-container class="mt-4 mb-4 file" v-for="file in files" :key="file.id" @click="getFile(file.id)">
        <b-row>
          <b-col class="cell col-12 files-header">{{ file.name }}</b-col>
        </b-row>
        <b-row>
          <b-col class="cell col-6">Upload time</b-col>
          <b-col class="cell col-6">{{ file.upload_time }}</b-col>
        </b-row>
        <b-row>
        <b-col class="cell col-6">Size</b-col>
        <b-col class="cell col-6">{{ file.size }} Kbytes</b-col>
        </b-row>
        <b-row>
        <b-col class="cell col-6">Status</b-col>
        <b-col class="cell col-6">{{ file.status }}</b-col>
        </b-row>
    </b-container>
  </div>
</div>
<div v-if="loading">
  <div class="view notifications vh-100">
    <div class="mask rgba-black-strong v-center">
      <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div v-if="error">
  <div class="view notifications vh-100">
    <div class="mask rgba-black-strong v-center">
      <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div v-if="files" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        <div v-else class="alert alert-primary" role="alert">
          Upload your first file
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</template>

<script>
import { apiMixin } from '../mixins/apiMixin'

export default {
  data () {
    return {
      loading: true,
      files: null,
      error: null,
      timer: '',
      taskId: null,
    }
  },
  created () {
    this.updateData()
  },
  methods: {
    isMobile() {
      if(screen.width <= 760) {
        return true
      } else {
        return false
      }
    },
    async updateData() {
      this.error = null
      apiMixin.methods.getFiles((err, files) => {
        this.loading = false
        if (err) {
          this.error = err
          this.cancelAutoUpdate()
        } else {
          this.files = files
        }
      })
    },
   async processFile(event) {
      var result = await apiMixin.uploadFile(event.target.files[0])
        if (!result) {
          this.error = new Error('Cannot upload file.').toString()
        }
        else {
          this.taskId = result
          this.runAutoUpdate()
          await this.updateData()
        }
      event.target.value = '';
    },
   async updateFileStatus() {
      var result = await apiMixin.checkFileStatus(this.taskId)
      if (result) {
       this.cancelAutoUpdate()
       await this.updateData()
     }
    },
    async getFile(fileId) {
      var file = await apiMixin.getFile(fileId)
      var url = window.URL.createObjectURL(file.data)
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', file.name);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
    runAutoUpdate: function(interval=3000) { this.timer = setInterval(this.updateFileStatus, interval) },
    cancelAutoUpdate: function() { clearInterval(this.timer) },
    logOut(){
      localStorage.clear()
      window.location = "/"
     }
  },
  beforeDestroy() {this.cancelAutoUpdate() },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '../assets/css/dashboard.scss';

</style>
