<template>
<div>
    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand">
        <a class="navbar-brand" href="#intro">FStorage</a>

            <div class="container">

                <!-- Collapsible content -->
                <div>

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">Contacts</a>
                        </li>
                    </ul>
                    <!-- Links -->

                </div>
                <!-- Collapsible content -->

            </div>

        </nav>
        <!--/.Navbar-->

        <!--Mask-->
        <div id="intro" class="view vh-100">

            <div class="mask rgba-black-strong v-center">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">FStorage</h2>

                            <!-- Divider -->
                            <hr class="hr-dark">

                            <!-- Description -->
                            <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti
                                consequuntur.</h4>
                            <b-btn class="btn-facebook" @click="authenticate('facebook')">
                                <font-awesome-icon :icon="['fab', 'facebook']" />
                                Sign in with Facebook
                            </b-btn>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!--/.Mask-->

    </header>
    <!--Main Navigation-->
    <hr id="features" class="invisible nav">
    <!--Main layout-->
    <main class="mt-5">
        <div class="container">

            <!--Section: Features-->
            <section class="text-center h-50">

                <!-- Heading -->
                <h2 class="m-5 font-weight-bold">Features</h2>

                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">

                    <!--Grid column-->
                    <div class="col-md-8">

                        <!-- Description -->
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                            hic
                            provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                            est
                            sit pariatur.</p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                         <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-camera-retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Lorem</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Ipsum</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-bicycle fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Dolor</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Features-->

            <!-- Divider -->
            <hr id="pricing" class="hr-grey nav">

            <section class="text-center">
                <!-- Heading -->
                <h2 class="m-5 font-weight-bold">Pricing</h2>
                <!--Grid row-->
                <div class="row v-center">

                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-camera-retro fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Trial</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                        <h4 class="my-4 font-weight-bold">Free</h4>
                        <p class="grey-text">/1st month</p>
                        <button type="button" class="btn btn-primary">Try now</button>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Basic</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                        <h4 class="my-4 font-weight-bold">US $9.00/mo</h4>
                        <p class="grey-text">US $99.00/yr</p>
                        <button type="button" class="btn btn-dark">Buy now</button>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-bicycle fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">Pro</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                        <h4 class="my-4 font-weight-bold">US $29.00/mo</h4>
                        <p class="grey-text">US $299.00/yr</p>
                        <button type="button" class="btn btn-dark">Buy now</button>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Pricing-->
            
            <!-- Divider -->
            <hr class="hr-grey">

        </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <!--Footer Contacts-->
        <div class="container mt-5 mb-4 text-center text-md-left" id="contacts">
            <div class="row mt-3">
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i> Kharkiv, 61000, UA</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> example@example.com</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Contacts-->

    </footer>
    <!-- Footer -->
</div>

</template>
<script>
import { authMixin } from '../mixins/authMixin'

export default {
    mixins: [ authMixin ],
    beforeCreate: function() {
        document.body.className = 'home';
    },
      mounted: function () {
        document.body.children[0].className = "main-page-container"
      }
}
</script>

<style lang="scss" scoped>
@import '../assets/css/home.scss';
</style>

<style lang="scss">
html {
  scroll-behavior: smooth;
}
</style>