<template>
  <div class="container">
    <router-view></router-view>
  </div>
</template>
<script>
export default{
}
</script>
<style lang="scss">
</style>

<script>
export default {
    metaInfo: {
      title: 'FStorage',
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        {'http-equiv':'http-equiv', content:'text/html; charset=UTF-8'},
      ],
    },
  };
</script>