* {
    font-family: 'Roboto', sans-serif;
}

.error {
  color: red;
}
.files {
  color: #4c4d4c
}
.m-files {
  margin-top: 5em;
}
.files-header {
  color: #1779ba;;
  font-size: 1.5rem;
}
.container {
  margin-top: 5em;
  margin-bottom: 2.5em;
}
.cell {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.file {
  border-bottom: 1px solid #b8b8b8;
  &:last-of-type {
  border-bottom: unset;
  }
  &:hover {
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 
      inset 1px 0 0 #dadce0,
      inset -1px 0 0 #dadce0, 
      0 1px 2px 0 rgba(60,64,67,.3), 
      0 1px 3px 1px rgba(60,64,67,.15);
  }
}
.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  margin-right: .5em
}