@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body,
header,
#intro {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

div.main-page-container {
  background-color: #ffffff;
}

#intro {
    background: #000000 url('../assets/img/background.jpg') no-repeat left top !important;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hr-dark {
  border-top: 1px solid #000000;
}
.vh-100 {
  min-height: 100vh;
}
.v-center {
  top:50%
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

* {
    font-family: 'Roboto', sans-serif !important;
}

button {
&.btn-facebook {
    color:#fff;
    background-color:rgba(0, 0, 0, 0.5);
    border-color:rgba(0,0,0,0.2);
    &:hover,&:active,&:focus {
        color:#fff;
        background-color:rgba(0, 0, 0, 0.8) !important;
        border-color:rgba(0,0,0,0.2);
        }    
    }
}

hr.nav {
  padding-top:1em;
}